synthea/generated-testdata/fhir
synthea/generated-testdata/fhir-mii
synthea/generated-testdata/metadata
excel2fhir/input/*.xlsx
icd10gm2025_alphaidse.txt
results-laboratory-observations-uv-ips.json
ValueSetProbenart.json
mii-vs-prozedur-prozeduren-snomedct.json
mii-vs-prozedur-ops.json
mii-vs-labor-order-codes.json
medicine-doseform.json
medicine-route-of-administration.json
mii-vs-medikation-ask.json
mii-vs-medikation-atc.json
.DS_Store
_build.bat
_build.sh 
_gencontinuous.sh
_gencontinuous.bat
_genonce.sh
_genonce.bat
_updatePublisher.bat
_updatePublisher.sh
